In [1]:
import pandas as pd
import numpy as np

In [2]:
e_18 = pd.read_excel('datasets/전력사용량/(2018)시군구별 전력사용량.xlsx', header=2)
e_19 = pd.read_excel('datasets/전력사용량/(2019)시군구별 전력사용량.xlsx', header=2)
e_18

,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2018,서울특별시,종로구,주택용,24546965,24679527,20401275,20286731,19180367,20682071,24096119,34169296,24780679,18567799,20880595,21965864
1,2018,서울특별시,종로구,일반용,124214898,120933139,97520950,90376137,88448529,99595430,116312824,137591335,108902074,85751488,89536178,106635938
2,2018,서울특별시,종로구,교육용,10470670,10909510,7929867,7458541,6683567,7857655,9019645,10088777,9130812,6546656,7469901,9647726
3,2018,서울특별시,종로구,산업용,6770284,7800366,6361478,6840807,6090341,6459713,6488101,7440279,7284559,5278394,5906079,6167006
4,2018,서울특별시,종로구,농사용,8591,8441,5535,3924,3291,2295,1740,2350,2119,2045,1640,3827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832,2018,세종특별자치시,세종시,합 계,281364220,269701557,251894959,241693480,235344709,242180063,256799341,285846034,258021201,236500847,254633743,273712449
1833,2018,황해북도,개성시,주택용,0,0,0,0,0,0,0,0,9601,9508,8402,10634
1834,2018,황해북도,개성시,일반용,0,0,0,0,0,0,0,0,94493,118861,201260,344108
1835,2018,황해북도,개성시,산업용,0,0,0,0,0,0,0,0,159980,126055,139513,183066
1836,2018,황해북도,개성시,합 계,0,0,0,0,0,0,0,0,264074,254424,349175,537808

In [3]:
# 서울 부산 대구 인천 광주 대전 울산 : 광역시별로 결정!
condition = (e_18.시도 == '서울특별시')|(e_18.시도 =='부산광역시')|(e_18.시도 == '대구광역시')|(e_18.시도 == '인천광역시')|(e_18.시도 == '광주광역시')|(e_18.시도 == '대전광역시')|(e_18.시도 == '울산광역시')# 조건식 작성

e_18 = e_18[condition]
e_18

,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2018,서울특별시,종로구,주택용,24546965,24679527,20401275,20286731,19180367,20682071,24096119,34169296,24780679,18567799,20880595,21965864
1,2018,서울특별시,종로구,일반용,124214898,120933139,97520950,90376137,88448529,99595430,116312824,137591335,108902074,85751488,89536178,106635938
2,2018,서울특별시,종로구,교육용,10470670,10909510,7929867,7458541,6683567,7857655,9019645,10088777,9130812,6546656,7469901,9647726
3,2018,서울특별시,종로구,산업용,6770284,7800366,6361478,6840807,6090341,6459713,6488101,7440279,7284559,5278394,5906079,6167006
4,2018,서울특별시,종로구,농사용,8591,8441,5535,3924,3291,2295,1740,2350,2119,2045,1640,3827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586,2018,울산광역시,울주군,산업용,885598715,825712386,894782929,850929707,953017255,987758249,977865478,1007368565,1028051529,1070678475,1024136233,1078620341
587,2018,울산광역시,울주군,농사용,6551476,6739845,5503222,5123317,4397014,4967829,5208377,7583997,6727279,5181024,5939818,5614446
588,2018,울산광역시,울주군,가로등,2026784,1895179,1770885,1742586,1650844,1613525,1600211,1726448,1757487,1875729,2031482,2104824
589,2018,울산광역시,울주군,심 야,10114885,10457255,7918310,6170975,4039669,2632765,1922966,1425179,1508385,2624935,4680879,6752196
590,2018,울산광역시,울주군,합 계,986571749,926865379,978549133,931082979,1025975092,1062648665,1058140543,1109455648,1112847002,1142418128,1102220057,1164917883

In [4]:
# 서울 부산 대구 인천 광주 대전 울산 : 광역시별로 결정!
condition = (e_19.시도 == '서울특별시')|(e_19.시도 =='부산광역시')|(e_19.시도 == '대구광역시')|(e_19.시도 == '인천광역시')|(e_19.시도 == '광주광역시')|(e_19.시도 == '대전광역시')|(e_19.시도 == '울산광역시')# 조건식 작성

e_19 = e_19[condition]
e_19

,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2019,서울특별시,종로구,주택용,24160644,22883203,20039084,20570833,19156656,20278012,22919604,29492782,24800305,20050769,20033320,21855205
1,2019,서울특별시,종로구,일반용,120079512,110317701,93294299,93421543,90325483,98303377,113573453,126148808,110010554,93117616,90242284,106536361
2,2019,서울특별시,종로구,교육용,10204144,9435056,7662196,7881974,6729563,7825646,8631354,9303561,9002269,7322515,7300834,9780051
3,2019,서울특별시,종로구,산업용,6683559,6900078,6731342,7095902,6192349,6372283,6403721,6859148,7011859,5961664,5682268,6223492
4,2019,서울특별시,종로구,농사용,7065,5975,4408,4559,985,754,673,840,741,621,592,3358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,2019,울산광역시,울주군,산업용,1080997660,905453460,997082247,937067574,1002469785,1011164297,1094387186,1046723142,1053619929,1063184170,1046581843,1061603114
586,2019,울산광역시,울주군,농사용,6549341,6484878,5403549,5165570,4653275,5031267,4794002,6697661,6744316,4920792,5160169,4920425
587,2019,울산광역시,울주군,가로등,2168490,2048957,1937248,1875395,1782087,1689841,1622856,1772499,1818132,1933993,2144129,2200736
588,2019,울산광역시,울주군,심 야,8797410,8541068,6500876,5728488,3841040,2207845,1780666,1482095,1469951,2148867,3948090,6107061
589,2019,울산광역시,울주군,합 계,1177986680,997726494,1076750788,1016738894,1075695659,1084445148,1170460194,1140273239,1141408917,1138549491,1124426524,1147129186

In [5]:
# 확인
e_18['시군구'].unique()

array(['종로구', '중구', '용산구', '성동구', '동대문구', '성북구', '도봉구', '은평구', '서대문구',
       '마포구', '강서구', '구로구', '영등포구', '동작구', '관악구', '강남구', '강동구', '송파구',
       '중랑구', '노원구', '서초구', '양천구', '광진구', '강북구', '금천구', '서구', '동구', '영도구',
       '부산진구', '동래구', '남구', '북구', '해운대구', '사하구', '금정구', '연제구', '수영구',
       '사상구', '기장군', '수성구', '달서구', '달성군', '미추홀구', '남동구', '부평구', '계양구',
       '연수구', '강화군', '옹진군', '광산구', '대덕구', '유성구', '울주군'], dtype=object)

In [6]:
# 확인
e_18['계약종별'].unique()

array(['주택용', '일반용', '교육용', '산업용', '농사용', '가로등', '심 야', '합 계'],
      dtype=object)

In [7]:
# 결측치 확인
e_18.isna().sum()

연도      0
시도      0
시군구     0
계약종별    0
1월      0
2월      0
3월      0
4월      0
5월      0
6월      0
7월      0
8월      0
9월      0
10월     0
11월     0
12월     0
dtype: int64

In [8]:
# 합계 행 삭제 & 인덱스 리셋
idx = e_18[e_18['계약종별']=='합 계'].index

e_18.drop(idx, inplace=True)
e_18 = e_18.reset_index()
e_18 = e_18.drop('index', axis=1)

C:\Users\82103\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [9]:
# 합계 행 삭제 & 인덱스 리셋
idx_19 = e_19[e_19['계약종별']=='합 계'].index

e_19.drop(idx_19, inplace=True)
e_19 = e_19.reset_index()
e_19 = e_19.drop('index', axis=1)

In [10]:
# 합계 지워졌는지 확인
e_18['계약종별'].unique()

array(['주택용', '일반용', '교육용', '산업용', '농사용', '가로등', '심 야'], dtype=object)

In [11]:
# 합계 지워졌는지 확인
e_19['계약종별'].unique()

array(['주택용', '일반용', '교육용', '산업용', '농사용', '가로등', '심 야'], dtype=object)

In [12]:
e_18

,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2018,서울특별시,종로구,주택용,24546965,24679527,20401275,20286731,19180367,20682071,24096119,34169296,24780679,18567799,20880595,21965864
1,2018,서울특별시,종로구,일반용,124214898,120933139,97520950,90376137,88448529,99595430,116312824,137591335,108902074,85751488,89536178,106635938
2,2018,서울특별시,종로구,교육용,10470670,10909510,7929867,7458541,6683567,7857655,9019645,10088777,9130812,6546656,7469901,9647726
3,2018,서울특별시,종로구,산업용,6770284,7800366,6361478,6840807,6090341,6459713,6488101,7440279,7284559,5278394,5906079,6167006
4,2018,서울특별시,종로구,농사용,8591,8441,5535,3924,3291,2295,1740,2350,2119,2045,1640,3827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,2018,울산광역시,울주군,교육용,8729091,8098807,7510226,6687028,6726887,7096956,8794640,8551978,7335004,6355822,6980633,8532986
513,2018,울산광역시,울주군,산업용,885598715,825712386,894782929,850929707,953017255,987758249,977865478,1007368565,1028051529,1070678475,1024136233,1078620341
514,2018,울산광역시,울주군,농사용,6551476,6739845,5503222,5123317,4397014,4967829,5208377,7583997,6727279,5181024,5939818,5614446
515,2018,울산광역시,울주군,가로등,2026784,1895179,1770885,1742586,1650844,1613525,1600211,1726448,1757487,1875729,2031482,2104824
516,2018,울산광역시,울주군,심 야,10114885,10457255,7918310,6170975,4039669,2632765,1922966,1425179,1508385,2624935,4680879,6752196

In [13]:
# 월 컬럼을 인덱스로 바꾸기
e_18.T

,0,1,2,3,4,5,6,7,8,9,...,507,508,509,510,511,512,513,514,515,516
연도,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018
시도,서울특별시,서울특별시,서울특별시,서울특별시,서울특별시,서울특별시,서울특별시,서울특별시,서울특별시,서울특별시,...,울산광역시,울산광역시,울산광역시,울산광역시,울산광역시,울산광역시,울산광역시,울산광역시,울산광역시,울산광역시
시군구,종로구,종로구,종로구,종로구,종로구,종로구,종로구,중구,중구,중구,...,남구,남구,남구,울주군,울주군,울주군,울주군,울주군,울주군,울주군
계약종별,주택용,일반용,교육용,산업용,농사용,가로등,심 야,주택용,일반용,교육용,...,농사용,가로등,심 야,주택용,일반용,교육용,산업용,농사용,가로등,심 야
1월,24546965,124214898,10470670,6770284,8591,1009885,3998678,18155094,184952261,6053631,...,67152,1253364,4348781,26783406,46767392,8729091,885598715,6551476,2026784,10114885
2월,24679527,120933139,10909510,7800366,8441,974653,4128852,18761790,174193350,5721741,...,69480,1183428,4487552,27058802,46903105,8098807,825712386,6739845,1895179,10457255
3월,20401275,97520950,7929867,6361478,5535,862845,3077753,15298774,148034030,4311640,...,54531,1064501,3391220,23503537,37560024,7510226,894782929,5503222,1770885,7918310
4월,20286731,90376137,7458541,6840807,3924,817159,2505935,15438180,137922235,3362564,...,50785,1017613,2500482,24224691,36204675,6687028,850929707,5123317,1742586,6170975
5월,19180367,88448529,6683567,6090341,3291,758955,3142727,14562024,141240479,3143183,...,48827,932399,1514601,22535602,33607821,6726887,953017255,4397014,1650844,4039669
6월,20682071,99595430,7857655,6459713,2295,715794,4465293,15715716,159060972,3627315,...,47081,884204,1127971,23045267,35534074,7096956,987758249,4967829,1613525,2632765
7월,24096119,116312824,9019645,6488101,1740,697786,6402977,18472463,187490827,4119793,...,44614,848343,1490774,24674912,38073959,8794640,977865478,5208377,1600211,1922966
8월,34169296,137591335,10088777,7440279,2350,800525,7273633,27322548,210076687,4402115,...,65288,927460,1381048,35538722,47260759,8551978,1007368565,7583997,1726448,1425179
9월,24780679,108902074,9130812,7284559,2119,759872,5833036,19187483,166580778,3872990,...,57462,994198,908041,27236434,40230884,7335004,1028051529,6727279,1757487,1508385
10월,18567799,85751488,6546656,5278394,2045,825487,1804557,14641433,135481009,2948359,...,46709,1067913,920545,22831858,32870285,6355822,1070678475,5181024,1875729,2624935
11월,20880595,89536178,7469901,5906079,1640,899678,1906169,15555969,137557214,3905979,...,53230,1182827,1863217,23836049,34614963,6980633,1024136233,5939818,2031482,4680879
12월,21965864,106635938,9647726,6167006,3827,941063,2702657,16729081,160061810,5594613,...,56202,1235804,2814547,25103036,38190054,8532986,1078620341,5614446,2104824,6752196

In [16]:
copy_18 = e_18.copy()
copy_18

,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2018,서울특별시,종로구,주택용,24546965,24679527,20401275,20286731,19180367,20682071,24096119,34169296,24780679,18567799,20880595,21965864
1,2018,서울특별시,종로구,일반용,124214898,120933139,97520950,90376137,88448529,99595430,116312824,137591335,108902074,85751488,89536178,106635938
2,2018,서울특별시,종로구,교육용,10470670,10909510,7929867,7458541,6683567,7857655,9019645,10088777,9130812,6546656,7469901,9647726
3,2018,서울특별시,종로구,산업용,6770284,7800366,6361478,6840807,6090341,6459713,6488101,7440279,7284559,5278394,5906079,6167006
4,2018,서울특별시,종로구,농사용,8591,8441,5535,3924,3291,2295,1740,2350,2119,2045,1640,3827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,2018,울산광역시,울주군,교육용,8729091,8098807,7510226,6687028,6726887,7096956,8794640,8551978,7335004,6355822,6980633,8532986
513,2018,울산광역시,울주군,산업용,885598715,825712386,894782929,850929707,953017255,987758249,977865478,1007368565,1028051529,1070678475,1024136233,1078620341
514,2018,울산광역시,울주군,농사용,6551476,6739845,5503222,5123317,4397014,4967829,5208377,7583997,6727279,5181024,5939818,5614446
515,2018,울산광역시,울주군,가로등,2026784,1895179,1770885,1742586,1650844,1613525,1600211,1726448,1757487,1875729,2031482,2104824
516,2018,울산광역시,울주군,심 야,10114885,10457255,7918310,6170975,4039669,2632765,1922966,1425179,1508385,2624935,4680879,6752196

In [21]:
c_18 = copy_18.iloc[:, 4:]

In [22]:
c_18.T

,0,1,2,3,4,5,6,7,8,9,...,507,508,509,510,511,512,513,514,515,516
1월,24546965,124214898,10470670,6770284,8591,1009885,3998678,18155094,184952261,6053631,...,67152,1253364,4348781,26783406,46767392,8729091,885598715,6551476,2026784,10114885
2월,24679527,120933139,10909510,7800366,8441,974653,4128852,18761790,174193350,5721741,...,69480,1183428,4487552,27058802,46903105,8098807,825712386,6739845,1895179,10457255
3월,20401275,97520950,7929867,6361478,5535,862845,3077753,15298774,148034030,4311640,...,54531,1064501,3391220,23503537,37560024,7510226,894782929,5503222,1770885,7918310
4월,20286731,90376137,7458541,6840807,3924,817159,2505935,15438180,137922235,3362564,...,50785,1017613,2500482,24224691,36204675,6687028,850929707,5123317,1742586,6170975
5월,19180367,88448529,6683567,6090341,3291,758955,3142727,14562024,141240479,3143183,...,48827,932399,1514601,22535602,33607821,6726887,953017255,4397014,1650844,4039669
6월,20682071,99595430,7857655,6459713,2295,715794,4465293,15715716,159060972,3627315,...,47081,884204,1127971,23045267,35534074,7096956,987758249,4967829,1613525,2632765
7월,24096119,116312824,9019645,6488101,1740,697786,6402977,18472463,187490827,4119793,...,44614,848343,1490774,24674912,38073959,8794640,977865478,5208377,1600211,1922966
8월,34169296,137591335,10088777,7440279,2350,800525,7273633,27322548,210076687,4402115,...,65288,927460,1381048,35538722,47260759,8551978,1007368565,7583997,1726448,1425179
9월,24780679,108902074,9130812,7284559,2119,759872,5833036,19187483,166580778,3872990,...,57462,994198,908041,27236434,40230884,7335004,1028051529,6727279,1757487,1508385
10월,18567799,85751488,6546656,5278394,2045,825487,1804557,14641433,135481009,2948359,...,46709,1067913,920545,22831858,32870285,6355822,1070678475,5181024,1875729,2624935
11월,20880595,89536178,7469901,5906079,1640,899678,1906169,15555969,137557214,3905979,...,53230,1182827,1863217,23836049,34614963,6980633,1024136233,5939818,2031482,4680879
12월,21965864,106635938,9647726,6167006,3827,941063,2702657,16729081,160061810,5594613,...,56202,1235804,2814547,25103036,38190054,8532986,1078620341,5614446,2104824,6752196

In [26]:
c_18.iloc[0, :]

1월     24546965
2월     24679527
3월     20401275
4월     20286731
5월     19180367
6월     20682071
7월     24096119
8월     34169296
9월     24780679
10월    18567799
11월    20880595
12월    21965864
Name: 0, dtype: int64

In [29]:
df = pd.DataFrame({'월별 전력량 (Y)' : c_18.iloc[0, :]})
df

     월별 전력량 (Y)
1월     24546965
2월     24679527
3월     20401275
4월     20286731
5월     19180367
6월     20682071
7월     24096119
8월     34169296
9월     24780679
10월    18567799
11월    20880595
12월    21965864

In [36]:
df_a = pd.DataFrame({'월별 전력량 (Y)' : c_18.iloc[0, :]})
for i in range(1,517):
    df_b = pd.DataFrame({'월별 전력량 (Y)' : c_18.iloc[i, :]})
    df_a = pd.concat([df_a,df_b])
df_a

     월별 전력량 (Y)
1월     24546965
2월     24679527
3월     20401275
4월     20286731
5월     19180367
..          ...
8월      1425179
9월      1508385
10월     2624935
11월     4680879
12월     6752196

[6204 rows x 1 columns]

In [37]:
df_a.to_csv("18년_월별전력량")

In [14]:
# e_18.to_csv("2018_광역시별전력소비.csv")

In [15]:
# e_19.to_csv("2019_광역시별전력소비.csv")